{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "target": "es5",
    "experimental": {
      "keepImportAssertions": true,
      "emitAssertForImportAttributes": true
    },
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true,
      "decoratorsBeforeExport": true
    }
  },
  "module": {
    "type": "nodenext",
    "resolveFully": true
  },
  "sourceMaps": "inline"
}
